@import './base.css';
@import 'tailwindcss';
@import 'primeicons/primeicons.css';

:root {
  /* light theme maybe */
  /* --primary: #90f1ef;
  --secondary: #ff7497;
  --terciary: #ffef9f; */

  /* dark theme */
  /* --primary: #eaeaea;
  --secondary: #2d3142;
  --terciary: #a4a4a4; */

  /* test theme 1*/
  /* idk */
  --primary: #018790;
  /* backgroung */
  --secondary: #005461;
  /* idk */
  --terciary: #00b7b5;
  /* waves */
  --accent: #f4f4f4;

  /* test theme 2*/
  /* idk */
  --primary: #450693;
  /* backgroung */
  --secondary: #8c00ff;
  /* idk */
  --terciary: #ff3f7f;
  /* waves */
  --accent: #ffc400;

  /* test theme 3*/
  /* idk */
  --primary: #ececbb;
  /* backgroung */
  --secondary: #239ba7;
  /* idk */
  --terciary: #7adaa5;
  /* waves */
  --accent: #7adaa5;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-terciary: var(--terciary);
  --color-primary-test: var(--terciary);
}

@font-face {
  font-family: bitCount;
  src: url(BitcountGridDouble.ttf);
}

@font-face {
  font-family: scienceGothic;
  src: url(ScienceGothic.ttf);
}

@font-face {
  font-family: libertinusKeyboard;
  src: url(LibertinusKeyboard.ttf);
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-terciary: var(--terciary);
}

#app {
  font-weight: normal;
  font-family: bitCount;
}

h1 {
  font-family: scienceGothic;
}

.simple-font {
  font-family: scienceGothic;
}

.buttons {
  font-family: fantasy;
}

button {
  /* padding: 4px 10px 4px 10px; */
  /* border: 1px solid var(--secondary); */
  cursor: pointer;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 4px;
}

button:hover {
  background-color: var(--primary);
}

#keyboard .active {
  background-color: var(--terciary) !important;
}
