@import './base.css';
@import 'tailwindcss';
@import 'primeicons/primeicons.css';

:root {
  /* test theme 3*/
  /* text */
  --primary: #ececbb;
  /* backgroung */
  --secondary: #239ba7;
  /* accents */
  --terciary: #7adaa5;
  /* waves */
  --accent: #7adaa5;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-terciary: var(--terciary);
}

@font-face {
  font-family: bitCount;
  src: url(BitcountGridDouble.ttf);
}

@font-face {
  font-family: scienceGothic;
  src: url(ScienceGothic.ttf);
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-terciary: var(--terciary);
}

#app {
  font-weight: normal;
  font-family: bitCount;
}

h1 {
  font-family: scienceGothic;
}

.simple-font {
  font-family: scienceGothic;
}

.buttons {
  font-family: fantasy;
}

button {
  /* padding: 4px 10px 4px 10px; */
  /* border: 1px solid var(--secondary); */
  cursor: pointer;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 4px;
}

button:hover {
  background-color: var(--primary);
}

#keyboard .active {
  background-color: var(--terciary) !important;
}
